In [1]:
# Exploration des données et valeurs manquantes
import pandas as pd
import numpy as np

In [2]:
elec_col = pd.read_csv('..\CSV\eco2mix-regional-cons-def.csv', sep = ';', nrows = 20)
print('Je charge les 20 premières lignes de la base de données.')

Je charge les 20 premières lignes de la base de données.

In [3]:
print('Les colonnes de la base de données sont :')
print(elec_col.columns)

Les colonnes de la base de données sont :
Index(['Code INSEE région', 'Région', 'Nature', 'Date', 'Heure',
       'Date - Heure', 'Consommation (MW)', 'Thermique (MW)', 'Nucléaire (MW)',
       'Eolien (MW)', 'Solaire (MW)', 'Hydraulique (MW)', 'Pompage (MW)',
       'Bioénergies (MW)', 'Ech. physiques (MW)', 'TCO Thermique (%)',
       'TCH Thermique (%)', 'TCO Nucléaire (%)', 'TCH Nucléaire (%)',
       'TCO Eolien (%)', 'TCH Eolien (%)', 'TCO Solaire (%)',
       'TCH Solaire (%)', 'TCO Hydraulique (%)', 'TCH Hydraulique (%)',
       'TCO Bioénergies (%)', 'TCH Bioénergies (%)', 'Column 26'],
      dtype='object')

In [4]:
print('TCO: le Taux de COuverture (TCO) d’une filière de production au sein d’une région')
print('représente la part de cette filière dans la consommation de cette région')
print('')
print('TCH : le Taux de CHarge (TCH) ou facteur de charge (FC) d’une filière')
print('représente son volume de production par rapport à la capacité de production installée et en service de cette filière')

TCO: le Taux de COuverture (TCO) d’une filière de production au sein d’une région
représente la part de cette filière dans la consommation de cette région

TCH : le Taux de CHarge (TCH) ou facteur de charge (FC) d’une filière
représente son volume de production par rapport à la capacité de production installée et en service de cette filière

In [18]:
elec_col.head()

,Code INSEE région,Région,Nature,Date,Heure,Date - Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),...,TCH Nucléaire (%),TCO Eolien (%),TCH Eolien (%),TCO Solaire (%),TCH Solaire (%),TCO Hydraulique (%),TCH Hydraulique (%),TCO Bioénergies (%),TCH Bioénergies (%),Column 26
0,27,Bourgogne-Franche-Comté,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76,Occitanie,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24,Centre-Val de Loire,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28,Normandie,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52,Pays de la Loire,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
elec_col.iloc[:, 10:-1]

12

In [31]:
elec_col.head(15)

,Code INSEE région,Région,Nature,Date,Heure,Date - Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),...,TCH Nucléaire (%),TCO Eolien (%),TCH Eolien (%),TCO Solaire (%),TCH Solaire (%),TCO Hydraulique (%),TCH Hydraulique (%),TCO Bioénergies (%),TCH Bioénergies (%),Column 26
0,27,Bourgogne-Franche-Comté,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76,Occitanie,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24,Centre-Val de Loire,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28,Normandie,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52,Pays de la Loire,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,75,Nouvelle-Aquitaine,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,44,Grand Est,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,53,Bretagne,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,84,Auvergne-Rhône-Alpes,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,93,Provence-Alpes-Côte d'Azur,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Île-de-France,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,32,Hauts-de-France,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,52,Pays de la Loire,Données définitives,2013-01-01,00:30,2013-01-01T00:30:00+01:00,3595.0,127.0,NaN,182.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,75,Nouvelle-Aquitaine,Données définitives,2013-01-01,00:30,2013-01-01T00:30:00+01:00,5464.0,240.0,4993.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,44,Grand Est,Données définitives,2013-01-01,00:30,2013-01-01T00:30:00+01:00,4943.0,319.0,9137.0,1109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
print('Les 12 premières lignes n’ont pas de valeurs… Elles pourront être éliminées…')

Les 12 premières lignes n’ont pas de valeurs… Elles pourront être éliminées…

In [4]:
print('Ni le taux de charge ni le taux de couverture no sont pas renseignés dans ces 20 premières lignes…')
print('Je charge les 1500000 premières lignes…')
elec = pd.read_csv('..\CSV\eco2mix-regional-cons-def.csv', sep = ';', nrows = 1500000)

Ni le taux de charge ni le taux de couverture no sont pas renseignés dans ces 20 premières lignes…
Je charge les 1500000 premières lignes…

In [6]:
print(elec.iloc[elec['TCO Hydraulique (%)'].isna().argmin(), :])
print('Ce sont les données de la ligne où la colonne TCO Hydraulique est renseignée pour la première fois.')

Code INSEE région                             44
Région                                 Grand Est
Nature                       Données définitives
Date                                  2020-01-01
Heure                                      00:00
Date - Heure           2020-01-01T00:00:00+01:00
Consommation (MW)                         5703.0
Thermique (MW)                            1503.0
Nucléaire (MW)                           11978.0
Eolien (MW)                               1145.0
Solaire (MW)                                 0.0
Hydraulique (MW)                          1104.0
Pompage (MW)                                -6.0
Bioénergies (MW)                           122.0
Ech. physiques (MW)                     -10144.0
TCO Thermique (%)                          26.35
TCH Thermique (%)                          47.61
TCO Nucléaire (%)                         210.03
TCH Nucléaire (%)                          95.21
TCO Eolien (%)                             20.08
TCH Eolien (%)                             31.78
TCO Solaire (%)                              0.0
TCH Solaire (%)                              0.0
TCO Hydraulique (%)                        19.36
TCH Hydraulique (%)                        47.75
TCO Bioénergies (%)                         2.14
TCH Bioénergies (%)                        51.48
Column 26                                    NaN
Name: 1472256, dtype: object
Ce sont les données de la ligne où la colonne TCO Hydraulique est renseignée pour la première fois.

In [17]:
print('Une autre façon de trouver cette ligne est d’utiliser la méthode “first_valid_index')
print('Cette méthode permet d’être utilisée sur plusieurs colonnes à la fois.')
elec.iloc[elec.iloc[:, 15:-1].first_valid_index(), :]

Une autre façon de trouver cette ligne est d’utiliser la méthode “first_valid_index
Cette méthode permet d’être utilisée sur plusieurs colonnes à la fois.

Code INSEE région                             44
Région                                 Grand Est
Nature                       Données définitives
Date                                  2020-01-01
Heure                                      00:00
Date - Heure           2020-01-01T00:00:00+01:00
Consommation (MW)                         5703.0
Thermique (MW)                            1503.0
Nucléaire (MW)                           11978.0
Eolien (MW)                               1145.0
Solaire (MW)                                 0.0
Hydraulique (MW)                          1104.0
Pompage (MW)                                -6.0
Bioénergies (MW)                           122.0
Ech. physiques (MW)                     -10144.0
TCO Thermique (%)                          26.35
TCH Thermique (%)                          47.61
TCO Nucléaire (%)                         210.03
TCH Nucléaire (%)                          95.21
TCO Eolien (%)                             20.08
TCH Eolien (%)                             31.78
TCO Solaire (%)                              0.0
TCH Solaire (%)                              0.0
TCO Hydraulique (%)                        19.36
TCH Hydraulique (%)                        47.75
TCO Bioénergies (%)                         2.14
TCH Bioénergies (%)                        51.48
Column 26                                    NaN
Name: 1472256, dtype: object

In [18]:
print('On peut de cette façon trouver la première ligne où le taux de couverture ou le taux de charge est différent de Nan')

On peut de cette façon trouver la première ligne où le taux de couverture ou le taux de charge est différent de Nan